<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link th:href="@{/css/app_dashboard.css}" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="background-image"></div>

<div class="body">
    <div style="text-align: center">
        <div class="notes">
            <div class="user">
                <span th:text="'Hello ' + ${user}"></span>
            </div>
            <div class="log">
                <a style="color: mistyrose" href="/user/logout">Log out</a>
                <i class="fas fa-undo"></i>
            </div>
            <div class="weather">
                <td>
                    <span th:switch="${weather.getClouds().getCloudsState()}">
                        <span th:case="'someClouds'">
                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/128/128780.svg">
                        </span>
                        <span th:case="'clouds'">
                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/128/128751.svg">
                        </span>
                        <span th:case="'noClouds'">
                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/128/128781.svg">
                        </span>
                    </span>
                </td>
                <h1 th:text="${'Weather for: ' + city}"></h1>
                <h2 th:text="${'Temp: ' + weather.getTempDto().getTemp() + 'C'}"></h2>
            </div>
            <div class="table">
                <div th:if="${noteList.size() > 0}" class="tr-head">
                    <span style="text-align: left" class="td">Title</span>
                    <span style="text-align: left" class="td">Message</span>
                    <span class="td-">Due date</span>
                    <span class="td">Remove</span>
                </div>

                    <div class="tr" th:each="note : ${noteList}">
                        <span class="td" style="text-align: left;" th:text="${note.getTitle()}"></span>
                        <span class="td" style="text-align: left;" th:text="${note.getMessage()}"></span>
                        <b><span class="td" th:style="${note.getDueDate().isAfter(currentDate) ? 'color: greenyellow' : 'color: darkred'}"
                              th:text="${#temporals.format(note.getDueDate(), 'dd-MM-yyyy')}"></span></b>
                        <span class="td"><a th:href="@{'/user/dashboard/deletenote/'+ ${note.getId()}}"><i class="fas fa-trash-alt"></i></a></span>
                    </div>
            </div>
            <form class="tr" action="/user/dashboard/addnote" method="post" th:object="${note}">
                <span class="td-form"><input type="text" th:name="title" placeholder="title"></span>
                <span class="td-form"><input type="text" th:name="message" placeholder="message"></span>
                <span class="td-form"><input type="date" th:name="dueDate" placeholder="due date"></span>
                <span class="td-form"><input type="number" th:name="priority" value="" placeholder="priority"></span>
                <span class="td-form"><input type="submit" value="Add note"></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>