<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <!--Menu CSS-->
    <link th:href="@{/css/app_menu.css}" rel="stylesheet">

</head>
<body>
<div class="background-image"></div>
<div class="body">
    <div class="login">
        <div class="header">
            <div style="font-size: 25px">Welcome to my OrganizerApp</div>
        </div>
        <div>
        Login
        <form action="/user/login" method="post" th:object="${logUser}">
            <input type="text" th:field="*{login}" placeholder="Name"> <br/>
            <input type="password" th:field="*{password}" placeholder="Password"> <br/>
            <input type="submit" value="login"><br/>
        </form><br/>
        Registration
        <form action="/user/registry" method="post" th:object="${regUser}">
            <p th:errors="*{login}"></p>
            <input type="text" th:field="*{login}" placeholder="Name"> <br/>
            <input type="password" th:field="*{password}" placeholder="Password"><br/>
            <input type="password" th:field="*{passwordRepeat}" placeholder="Password repeat"><br/>
            <input type="text" th:field="*{city}" placeholder="City"><br/>
            <input type="text" th:field="*{postCode}" placeholder="Post Code"><br/>
            <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number"><br/>
            <input type="submit" value="register">
            <div class="info" th:text="${error}">
            </div>

        </form>
        </div>
    </div>
    <br/>
</div>
</body>
</html>