<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<div style="text-align: center">
    <h1>Welcome to my WeatherApp</h1>
    <h2> Login  </h2>
    <form action="/user/login" method="post" th:object="${logUser}">
        <input type="text" th:field="*{login}" placeholder="Name"> <br/>
        <input type="password" th:field="*{password}" placeholder="Password"> <br/>
        <input type="submit" value="login"><br/>
    </form>
    <h2>  Registration </h2>
    <form action="/user/registry" method="post" th:object="${regUser}">
        <p th:errors="*{login}"></p>
        <input type="text" th:field="*{login}" placeholder="Name"> <br/>
        <input type="password" th:field="*{password}" placeholder="Password"><br/>
        <input type="password" th:field="*{passwordRepeat}" placeholder="Password repeat"><br/>
        <input type="text" th:field="*{city}" placeholder="City"><br/>
        <input type="text" th:field="*{postCode}" placeholder="Post Code"><br/>
        <input type="submit" value="register"><br/>

    </form>
    <h3 th:if="${matchesPassword != null}" th:text="${matchesPassword ? 'You are registered' : 'You are not registered'}"></h3>
    <br/>




</div>

</body>
</html>